body {
  margin: 0;
  line-height: normal;
}
.bg6,
.bg7 {
  position: absolute;
}
.bg6 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--hayden-black);
  width: 70px;
}
.bg7 {
  top: 5px;
  left: 15px;
  border-radius: var(--br-md);
  background-color: var(--hayden-main);
  width: 40px;
  height: 40px;
  display: none;
}
.icon-settings1 {
  position: absolute;
  top: 13px;
  left: 23px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tab-sidenav5,
.tab-sidenav6 {
  width: 70px;
  height: 50px;
  overflow: hidden;
  display: none;
}
.tab-sidenav5 {
  position: absolute;
  bottom: 18px;
  left: 0;
}
.tab-sidenav6 {
  position: relative;
  flex-shrink: 0;
}
.bg10,
.icon-fleet1 {
  position: absolute;
  top: 13px;
  left: 23px;
  width: 24px;
  height: 24px;
}
.bg10 {
  top: 5px;
  left: 15px;
  border-radius: var(--br-md);
  background-color: var(--hayden-main);
  width: 40px;
  height: 40px;
}
.tab-sidenav9 {
  position: relative;
  width: 70px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
}
.navigation1 {
  position: absolute;
  top: 83px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.logo1,
.sidenav1 {
  position: absolute;
  top: 19px;
  left: 26px;
  width: 24px;
  height: 30px;
}
.sidenav1 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
}
.signin-child {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 39px;
  height: 37px;
  overflow: hidden;
}
.bg11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white1);
}
.mta-network2 {
  position: absolute;
  top: 7px;
  left: 43px;
  font-weight: 500;
  display: inline-block;
}
.logo-client1,
.logo-icon {
  position: absolute;
  height: 34px;
}
.logo-icon {
  top: 0;
  left: 0;
  width: 31px;
  object-fit: cover;
}
.logo-client1 {
  top: 15px;
  left: 21px;
  width: 134px;
  display: none;
}
.avatar-icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
}
.marilyn-lubin1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.icon-dropdown1 {
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  overflow: hidden;
}
.name1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.header1,
.user1 {
  position: absolute;
}
.user1 {
  top: 16px;
  right: 32px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--body-16-regular-size);
  color: var(--hayden-grey-1);
}
.header1 {
  width: calc(100% - 70px);
  top: 0;
  right: 0;
  left: 70px;
  box-shadow: 0 1px 1px rgba(70, 70, 70, 0.1);
  height: 64px;
  font-family: var(--body-14-regular);
}
.logo-1-icon1,
.logo-client2 {
  position: absolute;
  height: 34px;
}
.logo-1-icon1 {
  top: 0;
  left: 0;
  border-radius: var(--br-4xl);
  width: 34px;
  object-fit: cover;
}
.logo-client2 {
  top: 19px;
  left: 92px;
  width: 190px;
  font-family: var(--body-14-regular);
}
.border1 {
  position: absolute;
  height: 93.79%;
  top: 6.23%;
  bottom: -0.02%;
  left: 69.75px;
  border-right: 0.5px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 0.5px;
  display: none;
}
.ux-circle-logo-inner {
  position: absolute;
  top: 36.5px;
  left: 75px;
  width: 40px;
  height: 39px;
  overflow: hidden;
}
.rectangle-div {
  position: absolute;
  top: 44px;
  left: 122.5px;
  background-color: var(--white1);
  width: 193px;
  height: 28px;
}
.traffic-flow-controller1 {
  position: absolute;
  top: 43.5px;
  left: 124px;
  line-height: 24.98px;
  display: inline-block;
  width: 333px;
}
.forget-password1,
.ux-circle-logo1 {
  position: absolute;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  text-align: center;
}
.ux-circle-logo1 {
  height: 8.04%;
  width: 35.89%;
  top: 5.71%;
  right: 32.09%;
  bottom: 86.25%;
  left: 32.02%;
}
.forget-password1 {
  top: 204px;
  left: 572px;
  line-height: 24.98px;
  display: inline-block;
  width: 333px;
}
.label2 {
  position: relative;
  line-height: 20.82px;
  font-weight: 500;
  display: none;
}
.mail-icon {
  position: relative;
  width: 20.82px;
  height: 20.82px;
  flex-shrink: 0;
  overflow: hidden;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 24.98px;
  display: inline-block;
}
.content,
.input-with-label,
.input2 {
  display: flex;
  justify-content: flex-start;
}
.content {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.input-with-label,
.input2 {
  align-self: stretch;
}
.input2 {
  border-radius: var(--br-sm);
  background-color: var(--white1);
  box-shadow: 8.327845573425293px 8.327845573425293px 24.98px
    rgba(2, 2, 70, 0.05);
  border: 2px solid var(--secondary-color-1);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xl);
  align-items: center;
  font-size: var(--font-size-lg);
  color: var(--secondary-2);
}
.input-with-label {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.hint-text {
  align-self: stretch;
  position: relative;
  line-height: 20.82px;
  color: var(--secondary-2);
  display: inline-block;
}
.input-field,
.input-field-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base {
  width: 374.75px;
  gap: var(--gap-3xs);
}
.input-field {
  margin: 0 !important;
  position: absolute;
  top: 9px;
  left: -0.12px;
  overflow: hidden;
  z-index: 0;
}
.label3,
.text2 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.text2 {
  flex: 1;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.input4,
.verification-input-field-core {
  border-radius: var(--br-md);
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.input4 {
  align-self: stretch;
  background-color: var(--white1);
  box-shadow: var(--shadow-elevation-1-e-1-rest-state);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 64px;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
}
.verification-input-field-core {
  width: 64px;
  flex-direction: column;
  align-items: flex-start;
}
.input7,
.verification-input-field-core3 {
  border-radius: var(--br-md);
  box-sizing: border-box;
  flex-shrink: 0;
}
.input7 {
  align-self: stretch;
  background-color: var(--white1);
  box-shadow: var(--shadow-elevation-1-e-1-rest-state);
  border: 1px solid var(--primary-300);
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.verification-input-field-core3 {
  border: 4px solid var(--primary-100);
  width: 72px;
  flex-direction: column;
  color: var(--primary-600);
}
.input-with-label1,
.input3,
.verification-code-input-field,
.verification-input-field-core3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input3 {
  flex-direction: row;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--gray-900);
}
.input-with-label1,
.verification-code-input-field {
  align-self: stretch;
  flex-direction: column;
}
.input-with-label1 {
  gap: var(--gap-2xs);
}
.verification-code-input-field {
  margin: 0 !important;
  position: absolute;
  top: 105px;
  left: -0.12px;
  height: 108px;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--body-14-regular-size);
  color: var(--gray-700);
  font-family: var(--font-mulish);
}
.divider-icon,
.header-cta {
  position: relative;
  flex-shrink: 0;
}
.header-cta {
  height: 362px;
  display: flex;
  flex-direction: column;
  padding: 165px 0 82px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 47px;
}
.divider-icon {
  width: 369.36px;
  height: 1.04px;
}
.card {
  position: absolute;
  top: 320px;
  left: 483px;
  border-radius: var(--br-xl);
  background-color: var(--white1);
  box-shadow: 8.327845573425293px 8.327845573425293px 24.98px
    rgba(2, 2, 70, 0.15);
  width: 533px;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2xs);
  color: var(--primary);
}
.text6 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.button-base1,
.primary-button1 {
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
}
.button-base1 {
  flex: 1;
  background-color: var(--primary);
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-3xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.primary-button1 {
  position: absolute;
  top: 623px;
  left: 565px;
  box-shadow: var(--shadow-button);
  width: 364px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-16-regular-size);
  color: var(--white1);
}
.forget-password,
.signin {
  background-color: var(--white1);
  height: 1120px;
  overflow: hidden;
}
.signin {
  position: absolute;
  top: 0;
  left: 0;
  width: 1474px;
}
.forget-password {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--body-14-regular-size);
  color: var(--color-indigo-100);
  font-family: var(--paragraph-regular);
}
